.vertical-list {
  border: 1px solid black;
  list-style: none;
  padding: 10px;
  width: 200px;
}

.vertical-list-item {
  border: 1px solid black;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-align: center;
}

.vertical-list-item:last-child {
  margin-bottom: 0;
}

.horizontal-list {
  border: 1px solid black;
  list-style: none;
  padding: 10px;
  width: 100%;
}

.horizontal-list-item {
  border: 1px solid black;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}
